<style>
  table,
  th,
  td {
    border: 2px solid black;
  }
</style>

<div style="border: 3px solid black" class="container mt-4">
  <div style="border: none; padding: 15px" class="card">
    <h1 style="margin: auto">Employee Registration</h1>

    <form style="margin-top: 15px">
      <div class="mb-3">
        <label style="font-weight: bold" class="form-label">Name </label>
        <input
          style="border: 1px solid"
          type="text"
          [(ngModel)]="name"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter your Name"
          autocomplete="off"
        />
      </div>
      <div class="mb-3">
        <label style="font-weight: bold" class="form-label">Address </label>
        <input
          style="border: 1px solid"
          type="text"
          [(ngModel)]="address"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter your address"
          autocomplete="off"
        />
      </div>
      <div class="mb-3">
        <label style="font-weight: bold" class="form-label">Phone </label>
        <input
          style="border: 1px solid"
          type="text"
          [(ngModel)]="phone"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter your Phone number"
          autocomplete="off"
        />
      </div>

      <button
        style="margin-left: 47%"
        type="submit"
        (click)="save()"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<div style="border: 3px solid black" class="container mt-4">
  <div style="padding: 15px; border: none" class="card">
    <h1 style="margin: auto">Employee Table</h1>
    <table
      style="text-align: center; padding: 15px; margin-top: 30px"
      class="table"
    >
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Employee of EmployeeArray">
          <td>{{ Employee.name | uppercase }}</td>
          <td>{{ Employee.address }}</td>
          <td>{{ Employee.phone }}</td>
          <td style="">
            <button
              style="margin-right: 10px"
              type="button"
              class="btn btn-success"
              (click)="setUpdate(Employee)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="setDelete(Employee)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
